* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background: -webkit-linear-gradient(#244824, #24602d);
    background: linear-gradient(#244824, #24602d);
}


.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}



[class$="face"] {
  margin: 16px;
  padding: 10px;

  background: #5e93c6;
  background: -webkit-linear-gradient(top, #5e93c6, #456d93);
  background: linear-gradient(top, #5e93c6, #5e93c6);
  width: 104px;
  height: 104px;

  box-shadow:
    inset 0 4px #6eaae3,
    inset 0 -4px #3c5a77,
    inset 4px 0 #5586b5,
    inset -4px 0 #537aa0,
    0 0 5px rgba(0,0,0,.5);

  border-radius: 10%;
}

.pip {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;

  background-color: rgba(255,255,255,.6);
  box-shadow: inset 0 1px #ffffff,
              inset 0 -1px #3c5a77,
              0 0 2px #3c5a77;
}
